@font-face {
    font-family:"Web-Raleway";
    src: url('../fonts/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-Regular.woff') format('woff'),
         url('../fonts/Raleway-Regular.ttf') format('truetype'),
         url('../fonts/Raleway-Regular.svg#web') format('svg');
    font-weight: normal;font-style: normal;
}

@font-face {
    font-family:"Web-Raleway-Bold";
    src: url('../fonts/Raleway-Bold.eot');
    src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-Bold.woff') format('woff'),
         url('../fonts/Raleway-Bold.ttf') format('truetype'),
         url("../fonts/Raleway-Bold.svg#web") format('svg');
    font-weight: normal;font-style: normal;
}

/* Default */
body{
    margin: 0;
    font-family: "Times New Roman",Arial, sans-serif;
    font-size: 14px;
    color: #373737;
}
.clear{
    float: none;
    clear: both;
}
.center{
    width: 961px;
    margin: 0 auto;
}

/* Header */
#header{
    background: #fff;
    padding: 0;
}
#header #logo{
    float: left;
    padding-top: 9px;
}
#header #logo a img{
    width: 180px;
    height: auto;
}
#header .navigation{
    float: right;
    padding: 10px;
}
#header .navigation ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#header .navigation ul li{
    display: inline-block;
    font-size: 18px;
    font-family: "Web-Raleway-Bold";
}
#header .navigation ul li a{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #373737;
}
#header .navigation ul li a.active{
    border-radius: 5px;
    border: solid 1px #6e0093;
    padding: 8px;
    color: #6e0093;
    display: inline-block;
}
#header .navigation ul li a:hover:not(.active){
    color: #6e0093;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* Banner */
#banner{
    background: url("../img/banner.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 115px;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
#banner .cover{
  border-radius:20px;
  padding:40px;
  background-color:rgba(255,255,255,0.4);
  max-width:800px;
  margin:auto;
}
#banner h1{
    font-size: 35px;
    font-family: "Web-Raleway-Bold";
    text-transform: uppercase;
    font-weight: normal;
}
#banner h2{
    font-size: 26px;
    font-family: "Web-Raleway";
    font-weight: normal;
    margin-bottom: 25px;
}
.btn-primary{
    border-radius: 5px;
    border: solid 1px #ffffff;
    color: #fff;
    text-transform: uppercase;
    font-family: "Web-Raleway";
    font-size: 16px;
    text-decoration: none;
    padding: 8px;
    display: inline-block;
}
.btn-primary:hover{
    background: #fff;
    color: #6e0093;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* Contact Us */
#contactform{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    font-family: inherit;
    padding:  5px 5px 20px 5px;
    background: #fff;
}
#contactform .message{
    border: 0;
    font-family: "Web-Raleway";
}
.one-third{
    float: left;
    width: 50%;
    border: 0;
}
.column-last{
    margin-right: 0 !important;
    clear: right;
}
.newline{
    float: none;
    clear: both;
    border: 0;
    width: 50%;
}
input, select,textarea {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    border-radius: 5px;
    border: solid 1px #730d9c;
    color: #fff;
    background: #730d9c;
    text-transform: uppercase;
    font-family: "Web-Raleway";
    font-size: 14px;
    text-decoration: none;
    padding: 8px;
    display: inline-block;
    cursor: pointer;
}
input[type=submit]:hover {
    border: solid 1px #730d9c;
    background: #fff;
    color: #6e0093;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* Biodata */
#biodata{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding:  5px 5px 20px 5px;
    font-family: "Web-Raleway";
    background: #fff;
}
#biodata .foto{
    float: left;
}
#biodata .foto img{
    width: 250px;
    height: auto;
}
#biodata .data{
    float: right;
    padding-top: 45px;
    padding-right: 30px;
}
#biodata .data li{
    padding-bottom: 10px;
}

/* Gallery */
.gallery {
    float: left;
    text-align: center;
    padding: 0 5px 0px 5px;
    width: 31%;
    margin: 0 6px 25px 6px;
}
.gallery img {
    border-radius: 15px;
    width: 100%;
    height: auto;
    filter:purple;
    -webkit-filter:grayscale(1);
}
.gallery img:hover{
    filter:none;
    -webkit-filter:grayscale(0);
}

/* Our-Service */
#our-service{
    padding:  5px 5px 20px 5px;
    font-family: "Web-Raleway";
    background: #ececec;
    text-align: center;
}
#our-service .title-content{
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
#our-service .title-content span{
    font-family: "Web-Raleway-Bold";
}
#our-service .content{
    border-radius: 10px;
    float: left;
    background: #fff;
    text-align: center;
    padding: 20px 5px 20px 5px;
    width: 31%;
    margin: 0 6px 25px 6px;
}
#our-service .content img{
    width: 35px;
    height: auto;
}
.btn-secondary{
    border-radius: 5px;
    border: solid 1px #730d9c;
    color: #fff;
    background: #730d9c;
    text-transform: uppercase;
    font-family: "Web-Raleway";
    font-size: 14px;
    text-decoration: none;
    padding: 8px;
    display: inline-block;
}
.btn-secondary:hover{
    border: solid 1px #730d9c;
    background: #fff;
    color: #6e0093;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* Footer*/
.ruler{
    height: 5px;
    width: auto;
    background: red;
}
#footer{
    font-family: "Web-Raleway";
    color: #fff;
    background: #323232;
}
#footer .left{
    float: left;
}
#footer .right{
    float: right;
}
#footer .right img{
    padding-right: 10px;
    margin-bottom: -8px;
}
#footer-bawah{
    font-family: "Web-Raleway";
    background: #252525;
    color: #fff;
    height: 40px;
    width: auto;
    padding:0;
}
#footer-bawah .copyright{
    float: left;
    padding-top: 12px;
}
#footer-bawah .copyright a{
    text-decoration: none;
    color: #fff;
}
#footer-bawah .copyright a:hover{
    color: #670c8b;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#footer-bawah .sosmed{
    float: right;
    padding: 0;
    margin: 0;
}
#footer-bawah .sosmed img{
    width: 38px;
    height: auto;
    margin-bottom: -2px;
}
#footer-bawah .sosmed img:hover{
    background: #6e0093;
}

/*Responsive*/
@media (max-width: 1024px){
    .center{
        width: auto;
    }
   #footer{
    padding: 5 15 5 10px;
   } 
   #footer-bawah{
    padding: 5 15 5 10px;
   } 
}
@media (max-width: 962px){
    #our-service .content{
        border-radius: 10px;
        float: left;
        background: #fff;
        text-align: center;
        padding: 20px 5px 20px 5px;
        width: 44%;
        margin: 0 0px 25px 25px;
    }
    #our-service .gallery {
        float: left;
        text-align: center;
        padding: 0 5px 0px 6px;
        width: 30%;
        margin: 0 6px 25px 6px;
}

}
@media (max-width: 820px){
    #our-service .content{
        border-radius: 10px;
        float: left;
        background: #fff;
        text-align: center;
        padding: 20px 5px 20px 5px;
        width: 44%;
        margin: 0 0px 25px 20px;

    }
}
@media (max-width: 768px){
    #header #logo, #header .navigation{
        float: none;
    }
    #header #logo{
        text-align: center;
        margin-bottom: 8px;
        padding-top: 15px;
    }
    #header .navigation{
        text-align: center;
    }
    #banner{
        padding: 60px;
    }
    #our-service .content{
        border-radius: 10px;
        float: left;
        background: #fff;
        text-align: center;
        padding: 20px 5px 20px 5px;
        width: 44%;
        margin: 0 0px 25px 20px;

    }
    #our-service .gallery {
        float: left;
        text-align: center;
        padding: 0 6px 0px 0px;
        width: 30%;
        margin: 0 6px 25px 6px;
    }
  
}

@media (max-width: 720px){
    #footer .left, #footer .right{
        float: none;
    }
    #footer .left{
        padding-bottom: 5px;
    }
     #our-service .content{
        border-radius: 10px;
        float: left;
        background: #fff;
        text-align: center;
        padding: 20px 5px 20px 5px;
        width: 44%;
        margin: 0 0px 25px 16px;

    }
}

@media (max-width: 620px){
    #header .navigation ul li{
    display: inline-block;
    font-size: 15px;
    }
    #footer-bawah .copyright, #footer-bawah .sosmed{
        float: none;
        text-align: center;
    }
    #footer-bawah{
        height: auto;
    }
    #footer-bawah .copyright{
        padding-bottom: 5px;
    }
    #footer-bawah .sosmed a img{
        width: 30px;
        height: auto;
        padding-bottom: 5px;
    }
     #our-service .content{
        border-radius: 10px;
        float: left;
        background: #fff;
        text-align: center;
        padding: 20px 5px 20px 5px;
        width: 95%;
        margin: 0 0 15px 5px;
    }
    #our-service .gallery {
        float: left;
        text-align: center;
        padding: 0 6px 0px 0px;
        width: 29%;
        margin: 0 6px 25px 6px;
    }
}
@media (max-width: 526px){
    #biodata .foto, #biodata .data{
        float: none;
    }
    #biodata{
        text-align: center;
    }
}
@media (max-width: 480px){
    #our-service .content{
        border-radius: 10px;
        float: left;
        background: #fff;
        text-align: center;
        padding: 20px 5px 20px 5px;
        width: 95%;
        margin: 0 0px 15px 0px;
    }
    #our-service .gallery {
        float: left;
        text-align: center;
        padding: 0 6px 0px 0px;
        width: 45%;
        margin: 0 6px 25px 6px;
    }
}
@media (max-width: 380px){
    #our-service .gallery {
        float: left;
        text-align: center;
        padding: 0 6px 0px 0px;
        width: 92%;
        margin: 0 6px 25px 6px;
    }
    #banner .cover h1{
    font-size: 22px;
    }
    #banner .cover h2{
    font-size: 20px;
    }
}